.tower,.num{
	height: 45px;
}
.tower,.ti-plus{
	float:left;
}
.num,.ti-minus{
	float:right;
	padding-right: 25px;
}
.siloSelect{
	height: 30px;
	width:150px;
	border-radius: 8px;
	border: solid 1px #ccc;
}
select{
	font-size: 20px;
}
input[type="number"]{
	width:60px;
	height:30px;
	border-radius: 8px;
	border: solid 1px #ccc;
	font-size:15px;
}
.allTower li{
	margin: 10px;
	padding: 5px;
}
.um-list a.btn:before{
	border-left:0px #FFFFFF;
	border-bottom:0px #FFFFFF;
}
.ti-plus,.ti-minus{
	background-color: #2DBB69;color: #fff;font-size: 30px;padding: 5px;border-radius: 5px;margin: 10px;
}
.ti-minus{
	margin-right: 40px;
}
.um-icon-checkbox{
    width: 36px;
    height: 36px;
}
.um-media-body p{
    padding-left: 120px;
}
.um-media-body h4{
    padding-left: 60px;
}

input[type="radio"]:checked ~ .um-icon-checkbox:before, input[type="checkbox"]:checked ~ .um-icon-checkbox:before {
    width: 20px;
    top: 13px;
    left: 9px;
 }
.btn-inline{
	width:100%;
}
.btn-sm{
	font-size:22px;
}
.bo{
	border-radius: 18px;
	margin-top: 5px;
	border-bottom:solid 0.2px #ccc;
}
