.select_house {
	height: 43px;
	width: 210px;
	border: none;
	font-family: inherit;
	font-size: inherit;
	outline: none;
	background: #FFFFFF;
	margin-right: 25px;
}
.select_house {
	direction: rtl;
}
.death_elimination_num {
	text-align: right;
}
.b_left {
	margin-right: 80px;
}
.b_center {
	width: 25%;
	top: 7px;
}
#header {
	background: #00BB9C;
}
.btn_color {
	border: #00BB9C solid 1px;
	color: #00BB9C;
}
#body_busi_date {
    text-align: right;
    margin-left: 23px;
}