.l-t-info {
	width: 50%;
	text-align: center;
}
body {
	background: #ffffff
}
.info_body {
	margin-left: 15px;
}
.b_left {
	margin-right: 80px;
}
.btn-inline {
	width: 25%;
	top: 7px;
}
.um_list {
	color: #FFFFFF;
	margin-top: 5px;
	display: none;
}
.busi_date {
	width: 50%;
	height: 24px;
	margin-left: -46px;
}
#header {
	background: #00BB9C;
}
.btn_color {
	border: #00BB9C solid 1px;
	color: #00BB9C;
}
#body_busi_date {
	text-align: right;
	margin-left: 23px;
}
#body_level {
	text-align: right;
	margin-left: 12px;
}
.focusevet {
	text-align: right;
	margin-left: 12px;
}
